<div class="template form">
    <h1>Post Api </h1>
    <form #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo.value)">
     <label for="">Name:</label>
     <input type="text" name="userName" #yourName="ngModel" required placeholder="Enter Your Name" ngModel><br>
     <p class="error" *ngIf="yourName.touched && yourName.invalid" >Please Enter Your Name</p>
     <label for="">Email:</label>
     <input type="email" name="userEmail" #yourEmail="ngModel" required placeholder="Enter Your Name" ngModel><br>
     <p class="error" *ngIf="yourEmail.touched && yourEmail.invalid" >Please Enter Correct Email</p>
     <label for="">Phone:</label>
     <input type="text" name="userPhone" #yourPhone="ngModel" minlength="9" maxlength="12" required placeholder="Enter Your Name" ngModel><br>
     <p class="error" *ngIf="yourPhone.touched && yourPhone.invalid" >Please Enter Correct Phone No.</p>
     <input type="submit">
   </form>
</div>
<table *ngIf="employee">
    <h2>The information that you sent is</h2>
    <tr>
        <th>Name </th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td> {{employee.userName}}  </td>
        <td> {{employee.userEmail}}  </td>
        <td> {{employee.userPhone}}  </td>
    </tr>
</table>
